# This configuration file should contain all required configuration parameters
# for the phylogenetic workflow to run to completion.
#
# Define optional config parameters with their default values here so that users
# do not have to dig through the workflows to figure out the default values
# total length of gene F = 1620 (reference A)
# total length of gene G = 711 (reference A)

build: ["genome", "G", "F"]

strain_id_field: "accession"
display_strain_field: "strain"

subtypes: ['a', 'b', 'all']

filter:
  group_by: "country year month"
  sequences_per_group: 40
  min_date: 1800
  min_length:
    genome: 10000
    G: 500
    F: 1200

  min_coverage:
    genome: 0.8
    G: 0.8
    F: 0.8

  subsample_max_sequences:
    genome: 2000
    G: 3000
    F: 3000

  clades:
    a: "'A'"
    b: "'B'"
    all: 'subtypes'

files:
  color_schemes: "defaults/colors.tsv"
  auspice_config: "defaults/auspice_config.json"

refine:
  coalescent: "opt"
  date_inference: "marginal"
  clock_filter_iqd: 4
  # Estimated clock rates from successful builds as of 2025-11-05:
  # https://nextstrain.org/hmpv/a/genome@2025-11-05?l=clock
  clock_rate:
    a:
      genome: 0.000833
      G: 0.00278
      F: 0.000763
    b:
      genome: 0.000759
      G: 0.00154
      F: 0.000262
    all:
      genome: 0.000593
      G: 0.00133
      F: 0.000488

ancestral:
  inference: "joint"

traits:
  columns: "region country insertion"
  sampling_bias_correction: 3

# deploy
deploy_url: "s3://nextstrain-data"
